/*  your css code here. If applicable */
.container{
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-gap: 2px;	
}
div.square {
	background-color: rgb(29, 29, 29);
	width:40px;
	height:40px;
	transition: background-color 1s;
}
.square:hover{
	background-color: red;	
}

